# Core
numpy
pandas
scikit-learn
matplotlib
seaborn
python-dotenv

# Deep Learning
torch
torchvision

# Transformers
transformers
datasets
accelerate

# Evaluation
scipy

# Notebooks
jupyter
ipykernel
